target: all
multitenancy_enabled: false

server:
  http_listen_port: 9009

# Cấu hình lưu trữ tách biệt các thư mục để tránh lỗi overlap
common:
  storage:
    backend: filesystem
    filesystem:
      dir: /tmp/mimir/data

blocks_storage:
  backend: filesystem
  filesystem:
    dir: /tmp/mimir/blocks

ruler_storage:
  backend: filesystem
  filesystem:
    dir: /tmp/mimir/ruler

alertmanager_storage:
  backend: filesystem
  filesystem:
    dir: /tmp/mimir/alertmanager